.app_header{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content:center;
}
.app_header_center{
    width: 450px;
    height: fit-content;
    background-color:rgb(62, 62, 130);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    display: flex;
    justify-content:space-between;

}
.div_logo{
    width: 30%;
    
    display: flex;
    justify-content: start;
    margin-left: 10px;
    
}
.uemfLogo{
    width: 100px;
    height: 100px;
}
.div_title{
  width: 70%;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-right: 12px;
}
.div_title_center{
    width: 80%;
    height: fit-content;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: start;
    margin-right: 10px;

}