.app_body{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content:center;
}
.app_body_center{
    width: 450px;
    height: fit-content;
    display: flex;
    justify-content:center;
    border: 1px solid #fffcfc;
    outline: none;
    border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8cdpx;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.div_pictureStudent{
    width: 30%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.studentImg{
    width: 100px;
    height: 100px;
}
.div_infoPersonel{
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: start;
}