<div style="text-align:center;">
  <h1>Gestion des Étudiants et des Établissements</h1>

  <!-- Navigation -->
  <nav>
    <ul>
      <!-- Navigation pour les étudiants -->
      <li><a routerLink="/lister-etudiants">Lister les Étudiants</a></li>
      <li><a routerLink="/ajouter-etudiant">Ajouter un Étudiant</a></li>

      <!-- Navigation pour les établissements -->
      <li><a routerLink="/lister-etablissements">Lister les Établissements</a></li>
      <li><a routerLink="/ajouter-etablissement">Ajouter un Établissement</a></li>
    </ul>
  </nav>

  <!-- Le contenu des composants sera affiché ici -->
  <router-outlet></router-outlet>
</div>
