
.div_title{
    display: flex;
    align-items: center;
    justify-content: center;
    size: 50px;
    color: rgb(110, 205, 245);
}
.div_three_buttons{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.sumbitButton{
    height: 40px;
    width: 120px;
    padding: 10px 20 px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:rgb(94, 171, 122) ;
}